/JAVA-3/AreaAndPerimeterOfCircle/out
/JAVA-3/MyFirstInput/out
/JAVA-3/MyFirstVariableNaming/out
/JAVA-3/AreaAndPerimeterOfCircle/.idea
/JAVA-3/MyFirstInput/.idea
/JAVA-3/MyFirstVariableNaming/.idea
.DS_Store